<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand
        ><router-link to="/" class="txtcolor"
          >Charles Tea Bar</router-link
        ></b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item
            ><router-link to="/Branch" class="txtcolor"
              >Branch</router-link
            ></b-nav-item
          >
          <b-nav-item
            ><router-link to="/Menu" class="txtcolor"
              >Menu</router-link
            ></b-nav-item
          >
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown text="User" right>
            <b-dropdown-item v-if="role == 'Admin'"
              ><router-link to="/User" class="txtcolor2"
                >User Management</router-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="role == 'Admin' || role == 'User'"
              ><router-link to="/Profile" class="txtcolor2"
                >Profile</router-link
              ></b-dropdown-item
            >
            <b-dropdown-item v-if="role == ''"
              ><router-link to="/Register" class="txtcolor2"
                >Register</router-link
              ></b-dropdown-item
            >
            <b-dropdown-item
              v-if="role == 'Admin' || role == 'User'"
              @click="logout"
              >Sign Out</b-dropdown-item
            >
            <b-dropdown-item v-if="role == ''"
              ><router-link to="/Login" class="txtcolor2"
                >Login</router-link
              ></b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import VueRouter from "vue-router";
export default {
  name: "app",
  data() {
    return {
      role: localStorage.getItem("Role"),
    };
  },
  methods: {
    logout() {
      localStorage.setItem("Email", "");
      localStorage.setItem("Role", "");
      const router = new VueRouter();
      router.push("Login");
      alert("Logout Successfully!");
      location.reload();
    },
  },
};
</script>

<style>
.txtcolor {
  color: white;
}

.txtcolor2 {
  color: black;
}
</style>