<template>
  <div id="app">
    <h1>Branch</h1>
    <div v-if="role == 'Admin'">
      <form>
        <fieldset>
          <legend>Create New Branch Record</legend>
          Location
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter address"
            v-model="address"
          /><br />
          Lat
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter Latitude"
            v-model="Latitude"
          /><br />
          Lng
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter Longitude"
            v-model="Longitude"
          /><br />
          <button @click="createBranch(address, Latitude, Longitude)">
            Create
          </button>
        </fieldset>
      </form>
    </div><br />
    <div class="flex">
      <div>
        <table id="tableOfBranch">
          <th>Location</th>
          <th v-if="role == 'Admin'">Lat</th>
          <th v-if="role == 'Admin'">Lng</th>
          <tr class="0.0" v-for="(a, index) in datas" :key="index">
            <td>{{ a.enlocation }}</td>

            <td v-if="role == 'Admin'">{{ a.lat }}</td>

            <td v-if="role == 'Admin'">{{ a.lng }}</td>

            <td>
              <button
                v-if="role == 'Admin'"
                @click="getBranch(a._id, a.enlocation, a.lat, a.lng)"
              >
                Edit
              </button>
            </td>

            <td>
              <button v-if="role == 'Admin'" @click="deleteBranch(a._id)">
                Delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueRouter from "vue-router";
export default {
  name: "Branch",
  data() {
    return {
      role: localStorage.getItem("Role"),
      datas: [],
    };
  },
  async created() {
      try {
      axios
        .get("http://localhost:3000/branch/")
        .then((response) => {
          if (response.data.message == "Fail") {
            alert("Cannot Get Branch Record");
          } else {
            this.datas = response.data;
          }
        })
        .catch((error) => {
          console.log(error);
          alert("Cannot Get Branch Record");
        });
    } catch (err) {
      this.error = err;
    }
  },
  methods: {
    async createBranch(address, Latitude, Longitude) {
      if (address != "" && Latitude != "" && Longitude != "") {
        axios
          .post("http://localhost:3000/branch/", {
            enlocation: address,
            lat: Latitude,
            lng: Longitude,
          })
          .then((response) => {
            if (response.data.message == "False") {
              alert("Create New Branch Fail");
              location.reload();
            } else {
              alert("Create Successfully!");
              location.reload();
            }
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("Create New Branch Fail");
            location.reload();
          });
      } else {
        alert("Please enter address, latitude and longitude");
        location.reload();
      }
    },
    async deleteBranch(id) {
      if (id != "") {
        axios
          .delete("http://localhost:3000/branch/" + id)
          .then((response) => {
            if (response.data.message == "Cannot Delete branch") {
              alert("Delete Branch Fail");
              location.reload();
            } else {
              alert("Delete Successfully!");
              location.reload();
            }
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("Delete Branch Fail");
            location.reload();
          });
      }
    },
    async getBranch(id, enlocation, lat, lng) {
      if (id != "") {
        localStorage.setItem("Branch_id", id);
        localStorage.setItem("Branch_enlocation", enlocation);
        localStorage.setItem("Branch_lat", lat);
        localStorage.setItem("Branch_lng", lng);
        const router = new VueRouter();
        router.push("updateBranch");
        location.reload();
      }
    },
  },
};
</script>

<style>
th,
td {
  border-bottom: 1px solid #ddd;
}

.flex {
  display: flex;
  background-color: #eee;
}

.flex div {
  margin: auto;
  padding: 10px;
}
</style>