<template>
  <div id="app">
    <div class="Container">
      <div class="loginform">
        <h1>Login</h1>
        <form style="width: 400px; margin: auto">
          <br />
          <p class="text-muted">Email</p>
          <input
            type="email"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter email E.g:123@gmail.com"
            v-model="login_email"
          />
          <br />
          <p class="text-muted">Password</p>
          <input
            style="width: 300px; margin: auto"
            :class="{ valid: passwordValidation.valid }"
            :type="passwordVisible ? 'text' : 'password'"
            v-model="login_password"
            class="form-control"
            placeholder="Enter Password"
          />
          <br />
          <button
            type="info"
            @click="login(login_email, login_password)"
            v-if="passwordsFilled && passwordValidation.valid"
          >
            Login
          </button>
          <br />
          <transition name="hint" appear>
            <div
              v-if="passwordValidation.errors.length > 0 && !submitted"
              class="hints"
            >
              <h4>Password Hints</h4>
              <p
                v-for="(error, index) in passwordValidation.errors"
                :key="index"
              >
                {{ error }}
              </p>
            </div>
          </transition>
          <div class="clearfix"></div>
        </form>
      </div>
      <br />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueRouter from "vue-router";
export default {
  name: "Login",
  data() {
    return {
      rules: [
        {
          message: "One lowercase letter required.",
          regex: /[a-z]+/,
        },
        {
          message: "6 characters minimum.",
          regex: /.{6,}/,
        },
        {
          message: "One number required.",
          regex: /[0-9]+/,
        },
      ],
      login_password: "",
      passwordVisible: false,
    };
  },
  methods: {
    login(email, pw) {
      if (email != "" && pw != "") {
        const router = new VueRouter();
        axios
          .get("http://localhost:3000/user/" + email + "/" + pw)
          .then((response) => {
            if (response.data.message == "False") {
              alert("Email or password is wrong");
              location.reload();
            } else {
              localStorage.setItem("Email", email);
              localStorage.setItem("Role", response.data.UserType);
              router.push("");
              location.reload();
            }
          })
          .catch((error) => {
            console.log(error);
            alert("Email or password is wrong");
          });
      } else {
        alert("Please enter email and password");
      }
    },
    togglePasswordVisibility() {
      this.passwordVisible = !this.passwordVisible;
    },
  },
  computed: {
    passwordsFilled() {
      return this.login_password !== "" && this.checkPassword !== "";
    },
    passwordValidation() {
      let errors = [];
      for (let condition of this.rules) {
        if (!condition.regex.test(this.login_password)) {
          errors.push(condition.message);
        }
      }
      if (errors.length === 0) {
        return {
          valid: true,
          errors,
        };
      } else {
        return {
          valid: false,
          errors,
        };
      }
    },
  },
};
</script>

<style>
#loginform {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
</style>