<template>
  <div id="app">
    <h1>Charles Tea Bar</h1>
    <h3>Weather</h3>
    <p style="width: 400px; margin: auto">
      {{ datas.forecastPeriod }}
      <br />
      {{ datas.forecastDesc }}
      <br />
      {{ datas.updateTime }}
    </p><br/>
    <h3>Information</h3>
    <p style="width: 400px; margin: auto">
      <img class="preview" width="100px" height="100px" :src="urls1" />
      <br />
      With a deep understanding of the characteristics and proper brewing
      techniques of each type of tea leaves, we select and blend different types
      of tea leaves to create our unique tea drinks.
    </p>
    <br />
    <p style="width: 400px; margin: auto">
      <img class="preview" width="100px" height="100px" :src="urls2" /><br />
      TP TEA places a great emphasis on our employee development. We orgranize
      tea blend assessment, customer service etiqutte and other traning
      sessions. TP TEA also organizes seminars from time to time to establish a
      well-founded cuitural environment to help our employee grow.
    </p>
    <br />
    <p style="width: 400px; margin: auto">
      <img class="preview" width="100px" height="100px" :src="urls3" /><br />
      TP TEA aims to meet friends via tea. With each friendly gesture,
      accompanies by a cup of great tea, we want the sense of happiness to
      tinger on the tongues of our friends. With each sip of our tea, they will
      enjoy a sweet aftertaste full of our love and passion.
    </p>
    <br />
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "MainPage",
  data() {
    return {
      datas: [],
      urls1:
        "https://firebasestorage.googleapis.com/v0/b/cem-62689.appspot.com/o/MainPage%2Flogo.png?alt=media&token=6125feda-69fa-451d-ad1b-c85e0f256ba2",
      urls2:
        "https://firebasestorage.googleapis.com/v0/b/cem-62689.appspot.com/o/MainPage%2FabBrandIcon02.png?alt=media&token=12f47eb4-342b-46fd-b130-567fa525a85e",
      urls3:
        "https://firebasestorage.googleapis.com/v0/b/cem-62689.appspot.com/o/MainPage%2FabBrandIcon03.png?alt=media&token=d5279c1c-a0c2-477f-b674-54520700da4d",
      weather:
        "https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=flw&lang=en",
    };
  },
  async created() {
    try {
      axios
        .get(this.weather)
        .then((response) => {
          this.datas = response.data;
        })
        .catch((error) => {
          console.log(error);
          alert("Cannot Get Menu Record");
        });
    } catch (err) {
      this.error = err;
    }
  },
  methods: {},
};
</script>

<style>
</style>