<template>
  <div id="app">
    <h1>Menu</h1>
    <div v-if="role == 'Admin'">
      <form>
        <legend>Create New Menu Record</legend>
        Name
        <input
          type="text"
          class="form-control"
          style="width: 300px; margin: auto"
          placeholder="Enter name"
          v-model="name"
          required
        /><br />
        Price
        <input
          type="number"
          class="form-control"
          style="width: 300px; margin: auto"
          placeholder="Enter price"
          v-model="Price"
          required
        /><br />
        image<br />
        <input
          type="file"
          @change="previewImage"
          accept="image/*"
          required
        /><br /><br />
        <div>
          <p>
            Progress: {{ uploadValue.toFixed() + "%" }}
            <progress id="progress" :value="uploadValue" max="100"></progress>
          </p>
        </div>
        <div v-if="imageData != null && uploadValue == 100">
          <button @click="createMenu(name, Price)">Create</button>
        </div>
      </form>
    </div><br />
    <div class="flex">
      <div>
        <table id="tableOfBranch">
          <th>Name</th>
          <th>price</th>
          <th></th>
          <tr class="0.0" v-for="(a, index) in datas" :key="index">
            <td>{{ a.name }}</td>
            <td>{{ a.price }}</td>
            <td>
              <img class="preview" width="100px" height="100px" :src="a.urls" />
            </td>

            <td>
              <button
                v-if="role == 'Admin'"
                @click="getMenu(a._id, a.name, a.price, a.urls, a.locations)"
              >
                Edit
              </button>
            </td>
            <td>
              <button v-if="role == 'Admin'" @click="deleteMenu(a._id)">
                Delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import axios from "axios";
import VueRouter from "vue-router";
export default {
  name: "Menu",
  data() {
    return {
      role: localStorage.getItem("Role"),
      imageData: null,
      picture: null,
      uploadValue: 0,
      location: "",
      datas: [],
      urlss: [],
      urlOfImgae: "",
    };
  },
  async created() {
    try {
      axios
        .get("http://localhost:3000/menu/")
        .then((response) => {
          if (response.data.message == "Fail") {
            alert("Cannot Get Menu Record");
          } else {
            this.datas = response.data;
          }
        })
        .catch((error) => {
          console.log(error);
          alert("Cannot Get Menu Record");
        });
    } catch (err) {
      this.error = err;
    }
  },
  methods: {
    async createMenu(name, Price) {
      if (
        name != "" &&
        Price != "" &&
        this.urlOfImgae != "" &&
        this.location != ""
      ) {
        axios
          .post("http://localhost:3000/menu/", {
            name: name,
            price: Price,
            urls: this.urlOfImgae,
            locations: this.location,
          })
          .then((response) => {
            if (response.data.message == "Cannot Create") {
              alert("Create New Menu Fail 2 ");
              location.reload();
            } else {
              alert("Create Successfully!");
              location.reload();
            }
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("Create New Menu Fail 1 ");
            location.reload();
          });
      } else {
        alert("Please enter name and price");
        location.reload();
      }
    },
    async deleteMenu(id) {
      if (id != "") {
        axios
          .delete("http://localhost:3000/menu/" + id)
          .then((response) => {
            if (response.data.message == "Cannot Delete menu") {
              alert("Delete menu Fail");
              location.reload();
            } else {
              alert("Delete Successfully!");
              location.reload();
            }
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("Delete menu Fail");
            location.reload();
          });
      }
    },
    getMenu(id, name, price, urls, locations){
        if (id != "") {
        localStorage.setItem("Menu_id", id);
        localStorage.setItem("Menu_name", name);
        localStorage.setItem("Menu_price", price);
        localStorage.setItem("Menu_urls", urls);
        localStorage.setItem("Menu_locations", locations);
        const router = new VueRouter();
        router.push("updateMenu");
        location.reload();
      }
    },
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
      this.uploadImage();
    },
    deleteImage() {
      const storageRef = firebase.storage().ref(this.location).delete();
      storageRef.on();
    },
    uploadImage() {
      this.location =
        "Menu" + new Date().getTime() + Math.random().toString(36).substr(2, 9);
      const storageRef2 = firebase
        .storage()
        .ref(this.location)
        .put(this.imageData);

      storageRef2.on(
        `state_changed`,
        (snapshot) => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        (error) => {
          console.log(error.message);
        },
        () => {
          this.uploadValue = 100;
          storageRef2.snapshot.ref.getDownloadURL().then((url) => {
            console.log(url);
            this.picture = url;
            this.urlOfImgae = url;
          });
        }
      );
    },
  },
};
</script>
<style>
th,
td {
  border-bottom: 1px solid #ddd;
}

.flex {
  display: flex;
  background-color: #eee;
}

.flex div {
  margin: auto;
  padding: 10px;
}
</style>