<template>
  <div id="app">
    <div class="Container">
      <div class="Registerform">
        <h1>Profile</h1>
        <form style="width: 400px; margin: auto">
          <p class="text-muted">ID</p>
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter user name"
            v-model="profile_id"
            readonly
          />
          <br />
          <p class="text-muted">Username</p>
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter user name"
            v-model="profile_uesrname"
            readonly
          />
          <br />
          <p class="text-muted">Email</p>
          <input
            type="email"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter email E.g:123@gmail.com"
            v-model="profile_email"
            readonly
          />
          <br />
          <p class="text-muted">User Type</p>
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            v-model="profile_ut"
            readonly
          />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Register",
  data() {
    return {
      role: localStorage.getItem("Role"),
      profile_id: "",
      profile_uesrname: "",
      profile_email: "",
      profile_ut:"",
      datas: [],
    };
  },
  async created() {
    try {
      axios
        .get("http://localhost:3000/user/")
        .then((response) => {
          if (response.data.message == "Fail") {
            alert("Cannot Get Menu Record");
          } else {
            this.datas = response.data;
            for (var i = 0; i < this.datas.length; i++) {
              if (this.datas[i].Email == localStorage.getItem("Email")) {
                this.profile_id = this.datas[i]._id
                this.profile_uesrname = this.datas[i].UserName
                this.profile_email = this.datas[i].Email
                this.profile_ut = this.datas[i].UserType
              }
            }
          }
        })
        .catch((error) => {
          console.log(error);
          alert("Cannot Get Menu Record");
        });
    } catch (err) {
      this.error = err;
    }
  },
};
</script>

<style>
#registerform {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
</style>