<template>
  <div id="app">
    <div class="Container">
      <div class="Registerform">
        <h1>Register</h1>
        <form style="width: 400px; margin: auto">
          <br />
          <p class="text-muted">Username</p>
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter user name"
            v-model="register_uesrname"
          />
          <br />
          <p class="text-muted">Email</p>
          <input
            type="email"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter email E.g:123@gmail.com"
            v-model="register_email"
          />
          <br />
          <p class="text-muted">Password</p>
          <input
            style="width: 300px; margin: auto"
            :class="{ valid: passwordValidation.valid }"
            :type="passwordVisible ? 'text' : 'password'"
            v-model.lazy="checkPassword"
            class="form-control"
            placeholder="Enter Confirm Password"
          />
          <br />
          <p class="text-muted">Confirm Password</p>
          <input
            style="width: 300px; margin: auto"
            :class="{ valid: passwordValidation.valid }"
            :type="passwordVisible ? 'text' : 'password'"
            v-model="register_password"
            class="form-control"
            placeholder="Enter Password"
          />
          <br />
          <button
            type="info"
            @click="
              register(register_uesrname, register_email, register_password)
            "
            v-if="
              passwordsFilled && passwordValidation.valid && !notSamePasswords
            "
          >
            Register
          </button>
          <br />
          <transition name="hint" appear>
            <div
              v-if="passwordValidation.errors.length > 0 && !submitted"
              class="hints"
            >
              <h4>Password Hints</h4>
              <p
                v-for="(error, index) in passwordValidation.errors"
                :key="index"
              >
                {{ error }}
              </p>
            </div>
          </transition>
          <div class="matches" v-if="notSamePasswords">
            <p>Password is not match confirm password.</p>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueRouter from "vue-router";
export default {
  name: "Register",
  data() {
    return {
      rules: [
        {
          message: "One lowercase letter required.",
          regex: /[a-z]+/,
        },
        {
          message: "6 characters minimum.",
          regex: /.{6,}/,
        },
        {
          message: "One number required.",
          regex: /[0-9]+/,
        },
      ],
      imageData: null,
      picture: null,
      uploadValue: 0,
      checkPassword: "",
      register_password: "",
      passwordVisible: false,
    };
  },
  methods: {
    register(register_uesrname, register_email, register_password) {
      const router = new VueRouter();
      if (
        register_email != "" &&
        register_uesrname != "" &&
        register_password != ""
      ) {
        const UserType = "User";
        axios
          .post("http://localhost:3000/user/", {
            UserName: register_uesrname,
            Email: register_email,
            Password: register_password,
            UserType: UserType,
          })
          .then((response) => {
            if (response.data.message == "False") {
              alert("Register Fail");
              location.reload();
            } else {
              alert("Register Successfully!");
              router.push("Login");
              location.reload();
            }
            router.push("");
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("register Fail");
            location.reload();
          });
      } else {
        alert("Please enter username, email and password1");
      }
    },
    togglePasswordVisibility() {
      this.passwordVisible = !this.passwordVisible;
    },
  },
  computed: {
    notSamePasswords() {
      if (this.passwordsFilled) {
        return this.register_password !== this.checkPassword;
      } else {
        return false;
      }
    },
    passwordsFilled() {
      return this.register_password !== "" && this.checkPassword !== "";
    },
    passwordValidation() {
      let errors = [];
      for (let condition of this.rules) {
        if (!condition.regex.test(this.register_password)) {
          errors.push(condition.message);
        }
      }
      if (errors.length === 0) {
        return {
          valid: true,
          errors,
        };
      } else {
        return {
          valid: false,
          errors,
        };
      }
    },
  },
};
</script>

<style>
#registerform {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
</style>