<template>
  <div id="app">
    <h1>Branch</h1>
    <div v-if="role == 'Admin'">
      <form>
        <fieldset>
          <legend>Update Branch Record</legend>
          ID
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            readonly
            value=""
            v-model="id"
          /><br />
          Location
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter address"
            value=""
            v-model="address"
          /><br />
          Lat
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter Latitude"
            value=""
            v-model="Latitude"
          /><br />
          Lng
          <input
            type="text"
            class="form-control"
            style="width: 300px; margin: auto"
            placeholder="Enter Longitude"
            value=""
            v-model="Longitude"
          /><br />
          <button @click="cancelBranch()">Cancel</button>
          <button @click="updateBranch(id, address, Latitude, Longitude)">
            Update
          </button>
        </fieldset>
      </form>
    </div>
    <br /><br />
  </div>
</template>

<script>
import axios from "axios";
import VueRouter from "vue-router";
export default {
  name: "Branch",
  data() {
    return {
      role: localStorage.getItem("Role"),
      id: "",
      address: "",
      Latitude: "",
      Longitude: "",
      datas: [],
    };
  },
  async created() {
    try {
      (this.id = localStorage.getItem("Branch_id")),
        (this.address = localStorage.getItem("Branch_enlocation")),
        (this.Latitude = localStorage.getItem("Branch_lat")),
        (this.Longitude = localStorage.getItem("Branch_lng"));
    } catch (err) {
      this.error = err;
    }
  },
  methods: {
    async cancelBranch() {
      localStorage.setItem("Branch_id", "");
      localStorage.setItem("Branch_enlocation", "");
      localStorage.setItem("Branch_lat", "");
      localStorage.setItem("Branch_lng", "");
      const router = new VueRouter();
      router.push("branch");
      location.reload();
    },
    async updateBranch(id, address, Latitude, Longitude) {
      if (id != "") {
        axios
          .put("http://localhost:3000/branch/" + id, {
            enlocation: address,
            lat: Latitude,
            lng: Longitude,
          })
          .then((response) => {
            if (response.data.message == "Update Fail") {
              alert("Update Branch Fail");
              location.reload();
            } else {
              alert("Update Successfully!");
              const router = new VueRouter();
              router.push("branch");
              location.reload();
            }
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("Update Branch Fail");
            location.reload();
          });
      }
    },
  },
};
</script>

<style>
</style>