<template>
  <div id="app">
    <h1>Menu</h1>
    <div v-if="role == 'Admin'">
      <form>
        <legend>Update Menu Record</legend>
        ID
        <input
          type="text"
          class="form-control"
          style="width: 300px; margin: auto"
          readonly
          v-model="id"
        /><br />
        Name
        <input
          type="text"
          class="form-control"
          style="width: 300px; margin: auto"
          placeholder="Enter name"
          v-model="name"
          required
        /><br />
        Price
        <input
          type="number"
          class="form-control"
          style="width: 300px; margin: auto"
          placeholder="Enter price"
          v-model="price"
          required
        /><br />
        <img class="preview" width="100px" height="100px" :src="urls" /><br />
        <input
          type="file"
          @change="previewImage"
          accept="image/*"
          required
        /><br /><br />
        <div>
          <p>
            Progress: {{ uploadValue.toFixed() + "%" }}
            <progress id="progress" :value="uploadValue" max="100"></progress>
          </p>
        </div>
        <button @click="cancelMenu()">Cancel</button>
        <button @click="updateMenu(id, name, price)">Update</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueRouter from "vue-router";
import firebase from "firebase";
export default {
  name: "updateMenu",
  data() {
    return {
      role: localStorage.getItem("Role"),
      id: "",
      name: "",
      price: "",
      urls: "",
      locations: "",
      datas: [],
      imageData: null,
      picture: null,
      uploadValue: 0,
      old_urls: "",
      old_locations: "",
    };
  },
  async created() {
    try {
      this.id = localStorage.getItem("Menu_id");
      this.name = localStorage.getItem("Menu_name");
      this.price = localStorage.getItem("Menu_price");
      this.urls = localStorage.getItem("Menu_urls");
      this.locations = localStorage.getItem("Menu_locations");
      this.old_urls = localStorage.getItem("Menu_urls");
      this.old_locations = localStorage.getItem("Menu_locations");
    } catch (err) {
      this.error = err;
    }
  },
  methods: {
    async cancelMenu() {
      localStorage.setItem("Menu_id", "");
      localStorage.setItem("Menu_name", "");
      localStorage.setItem("Menu_price", "");
      localStorage.setItem("Menu_urls", "");
      localStorage.setItem("Menu_locations", "");
      const router = new VueRouter();
      router.push("menu");
      location.reload();
    },
    async updateMenu(id, name, price) {
      if (id != "") {
        if (
          this.old_urls == this.urls &&
          this.old_locations == this.locations
        ) {
          axios
            .put("http://localhost:3000/menu/" + id, {
              name: name,
              price: price,
              urls: this.old_urls,
              locations: this.old_locations,
            })
            .then((response) => {
              if (response.data.message == "Update Fail") {
                alert("Update Menu Fail");
                location.reload();
              } else {
                alert("Update Successfully!");
                const router = new VueRouter();
                router.push("menu");
                location.reload();
              }
              location.reload();
            })
            .catch((error) => {
              console.log(error);
              alert("Update Menu Fail");
              location.reload();
            });
        } else {
          if (this.urls != "" && this.locations != "") {
            axios
              .put("http://localhost:3000/menu/" + id, {
                name: name,
                price: price,
                urls: this.urls,
                locations: this.locations,
              })
              .then((response) => {
                if (response.data.message == "Update Fail") {
                  alert("Update Menu Fail");
                  location.reload();
                } else {
                  alert("Update Successfully!");
                  const router = new VueRouter();
                  router.push("menu");
                  location.reload();
                }
                location.reload();
              })
              .catch((error) => {
                console.log(error);
                alert("Update Menu Fail");
                location.reload();
              });
          }
        }
      }
    },
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
      this.uploadImage();
    },
    uploadImage() {
      this.location =
        "Menu" + new Date().getTime() + Math.random().toString(36).substr(2, 9);
      const storageRef2 = firebase
        .storage()
        .ref(this.location)
        .put(this.imageData);

      storageRef2.on(
        `state_changed`,
        (snapshot) => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        (error) => {
          console.log(error.message);
        },
        () => {
          this.uploadValue = 100;
          storageRef2.snapshot.ref.getDownloadURL().then((url) => {
            console.log(url);
            this.picture = url;
            this.urls = url;
          });
        }
      );
    },
  },
};
</script>

<style>
</style>