<template>
  <div id="app">
    <h1>User</h1>
    <div v-if="role == 'Admin'">
      <form style="width: 400px; margin: auto">
        <p class="text-muted">Username</p>
        <input
          type="text"
          class="form-control"
          style="width: 300px; margin: auto"
          placeholder="Enter user name"
          v-model="user_uesrname"
        />
        <br />
        <p class="text-muted">Email</p>
        <input
          type="email"
          class="form-control"
          style="width: 300px; margin: auto"
          placeholder="Enter email E.g:123@gmail.com"
          v-model="user_email"
        />
        <br />
        <p class="text-muted">Password</p>
        <input
          style="width: 300px; margin: auto"
          :class="{ valid: passwordValidation.valid }"
          :type="passwordVisible ? 'text' : 'password'"
          v-model="Password"
          class="form-control"
          placeholder="Enter Password"
        />
        <br />
        <p class="text-muted">Account Type</p>
        <input type="radio" id="Admin" name="UT" value="Admin" v-model="UT" />
        <label for="Admin">Admin</label><br />
        <input type="radio" id="User" name="UT" value="User" v-model="UT" />
        <label for="User">User</label><br />
        <button
          v-if="role == 'Admin' && passwordValidation.valid"
          @click="createUser(UT, user_uesrname, user_email, Password)"
        >
          Create
        </button>
        <transition name="hint" appear>
          <div
            v-if="passwordValidation.errors.length > 0 && !submitted"
            class="hints"
          >
            <h4>Password Hints</h4>
            <p v-for="(error, index) in passwordValidation.errors" :key="index">
              {{ error }}
            </p>
          </div>
        </transition>
      </form>
    </div>
    <br />
    <div class="flex">
      <div>
        <table id="tableOfBranch">
          <th>ID</th>
          <th>UserName</th>
          <th>Email</th>
          <th>UserType</th>
          <tr class="0.0" v-for="(a, index) in datas" :key="index">
            <td>{{ a._id }}</td>
            <td>{{ a.UserName }}</td>
            <td>{{ a.Email }}</td>
            <td>{{ a.UserType }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Menu",
  data() {
    return {
      rules: [
        {
          message: "One lowercase letter required.",
          regex: /[a-z]+/,
        },
        {
          message: "6 characters minimum.",
          regex: /.{6,}/,
        },
        {
          message: "One number required.",
          regex: /[0-9]+/,
        },
      ],
      role: localStorage.getItem("Role"),
      datas: [],
      UT: "",
      user_uesrname: "",
      user_email: "",
      Password: "",
      passwordVisible: false,
    };
  },
  async created() {
    try {
      axios
        .get("http://localhost:3000/user/")
        .then((response) => {
          if (response.data.message == "Fail") {
            alert("Cannot Get User Record");
          } else {
            this.datas = response.data;
          }
        })
        .catch((error) => {
          console.log(error);
          alert("Cannot Get User Record");
        });
    } catch (err) {
      this.error = err;
    }
  },
  methods: {
    createUser(UT, user_uesrname, user_email, Password) {
      if (
        UT != "" &&
        user_uesrname != "" &&
        user_email != "" &&
        Password != ""
      ) {
        axios
          .post("http://localhost:3000/user/", {
            UserName: user_uesrname,
            Email: user_email,
            Password: Password,
            UserType: UT,
          })
          .then((response) => {
            if (response.data.message == "False") {
              alert("Create New User Fail");
              location.reload();
            } else {
              alert("Create Successfully!");
              location.reload();
            }
            location.reload();
          })
          .catch((error) => {
            console.log(error);
            alert("Create New User Fail");
            location.reload();
          });
      } else {
        alert("Please enter username, email, password amd account type");
      }
    },
    togglePasswordVisibility() {
      this.passwordVisible = !this.passwordVisible;
    },
  },
  computed: {
    passwordValidation() {
      let errors = [];
      for (let condition of this.rules) {
        if (!condition.regex.test(this.Password)) {
          errors.push(condition.message);
        }
      }
      if (errors.length === 0) {
        return {
          valid: true,
          errors,
        };
      } else {
        return {
          valid: false,
          errors,
        };
      }
    },
  },
};
</script>
<style>
th,
td {
  border-bottom: 1px solid #ddd;
}

.flex {
  display: flex;
  background-color: #eee;
}

.flex div {
  margin: auto;
  padding: 10px;
}
</style>